<div class="container sfPro_T" fxLayout="row" fxLayout.lt-md="column">
<div class="sub_container" fxFlex="100%" >
<nav class="nav" >
  <div fxShow="true" fxHide.lt-md = "true" fxLayoutAlign="end" fxLayoutGap="54px">
    <a [ngClass]="{active:true}">Portfolio</a>
    <a>Skills</a>
    <a fxFlex="13%">Hire Me</a>
  </div>
  <div fxShow="true" fxHide.gt-sm="true" fxLayoutAlign="end">
    <button class="nav_btn"><img src="/src/assets/Images/nav.svg"></button>
  </div>
</nav>

<main class="content" fxLayout="column" fxLayout.lt-md ="column" fxLayoutAlign.lt-md="center center">
  <div class="main_title sfPro_D" fxHide.lt-md="true">Puneetpal Kaur</div>
  <div class="mob_title sfPro_D" fxHide.gt-sm="true" fxLayoutAlign="center center"><div fxFlex>PK</div></div>
  <div class="sub_title sfPro_T" >
    {{sub_title}}
  </div>
  <div class="sep_text" fxLayout="row inline wrap">
    <span>PROJECTS &nbsp;</span> <span fxFlex><hr class="line"></span>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="10px" fxLayoutGap.lt-md="5px" class="projects" >

    <div fxFlex="0 1 calc(50% -10px)" fxHide.lt-md="true"
         *ngFor="let project of projects;index as i;" class="proj_name" (mouseover)="setHover(i)"
         (mouseout)="resetHover(i)" id="{{i}}"
         [ngClass]="{'orange':findColor(i)==='orange', 'green': findColor(i) === 'green'}" >
     <div class="overlay">
      <div class="overlay_content">
        <div class="overlay_con_title">{{project.projName}}
          <a [href]="project.url" target="_blank"><img src="/src/assets/Images/github.svg"></a></div>
        <br><br>
        <div>{{project.projDesc}}</div>
        <div class="tags" >
          <div></div>
        </div>
      </div>
     </div>
      <div fxFlex fxFlexAlign="end"> {{project.projName}} </div>
    </div>

    <div fxFlex.lt-md="0 1 100%" fxHide.gt-sm="true"
         *ngFor="let project of projectArray; index as i;" class="proj_name"
         [ngClass]="{'orange':i % 2 === 0, 'green': i % 2 !== 0}">
      <div fxFlex fxFlexAlign="end"> {{project}}</div>
    </div>
  </div>

</main>
</div>
</div>
